body{
	width:960px;
	margin:0 auto;
	font-family: 'Lato', sans-serif;
	line-height: 25px;
}

header{
	padding: 55px 0 55px 0;
	display: block;
}

#blogtitle h1{
	float:left;
	display:inline-block;
	margin-right: 10px;
}

#subtitle h3{
	float:left;
	margin:0px;
	display: inline-block;
}

h1{
	color: #CC0000;
	font-style: normal;
	margin: 0;

}
h2{
	font-size: 20px;

}

h3{
	color:#cccccc;
	margin-bottom:10px;
}

nav#topnav a{
	text-decoration: none;
	margin-bottom: 20px;
	width: 139px;
	margin: .5px;
	color: #ffffff;
	background-color: #000000;
	padding: 10px;
	text-align: center;
	float: left;
}

#topnav{
	padding-bottom: 65px;
}

#sidebar{
	padding: 20px 0px 20px 20px;
	width: 300px;
	font-size: 12px;
	float: right;
}

.sidebarimg{
	width:300px;
}

li#popularposts{
	color:#CC0000;
	font-style: normal;
}

img{
	margin: 5px 0px 5px 0px;
}

.blogentry{
	width: 600px;
	margin-right: 20px;
	border-bottom: 1px solid #cccccc;
}

.blogimg{
	width: 600px;
	margin: 15px 0 25px 0;

}

.last{
	border-bottom: none;
}

p::first-letter {
	margin-right: 5px;
	float:left;
	font-size:50px;
	color:#cccccc;
}

a{
	color:#CC0000;
	display:block;
	text-decoration: none;
}

hr{
	color:#cccccc;
}

#bottomnav a{
	margin:0px 35px 0 26px;
	color: #CC0000;
	float: left;
	text-align: center;

}


/*RESPONSIVE CODE*/

@media screen and (max-width: 667px){
	body{
		width:100%;
	}

	#blogtitle h1{
		text-align: center;
	}

	#subtitle h3{
		text-align: center;
	}

	nav#topnav a{
		float:none;
		width:100%;
		margin:3px;
	}
	#sidebar{
		width:100%;
		padding: 10px;
		float:none;
	}
	.sidebarimg{
		width: 100%;
	}
	
	.blogimg{
		width: 100%;
	}
	.blogentry{
		width: 100%;
	}
	#bottomnav a{
		float:none;
	}


}
